@import '../../../base.scss';

//Settings Modal
.cvat-settings-modal {
    // screen attributes for setting
    .ant-modal-content {

        .ant-modal-body {
            padding-top: 10px;
            padding-bottom: 0;
        }
    }
}

// Tabs
//Settings Tabs
.cvat-settings-tabs {
    height: 100%;
    overflow-y: auto;

    > div:nth-child(1) {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ant-tabs-card > .ant-tabs-nav {

        &::before {
            border-bottom: 1px solid #656568;
        }

        .ant-tabs-tab {
            background-color: $select-color;
            color: #acacb5;
            border: none;
            border-bottom: 1px solid $border-color-3;
            border-radius: 6px 6px 0 0;

            &-active {
                background-color: $background-color-1;
                border: 1px solid $border-color-3;
                border-bottom: none;

                > div[role='tab'] {
                    color: $text-color;
                }

            }

            &:hover, &:active {
                color: $text-color;
            }

            &-btn {
                color: #acacb5;

                &:focus {
                    color: $text-color;
                }
            }
        }
    }

    // Settings screen frame for Player and Workspace Tabs
    .cvat-workspace-settings,
    .cvat-player-settings,
    .cvat-organizations-settings {
        width: 100%;
        height: max-content;
        background: $background-color-1;
        padding: 0 24px;
        border: 1px solid #656568;
        border-top: none;
        border-radius: 0 0 5px 5px;

        .ant-row {
            padding: 20px 0;
            border-bottom: 1px solid $background-color-2;
            align-items: center;

            &:last-child {
                border: none;
            }
        }
    }

    .cvat-design-settings {
        border: 1px solid #656568;
        border-top: none;
        border-radius: 0 0 5px 5px;

        // Slider attributes under Design Tab
        .ant-slider > .ant-slider {
            &-track {
                background-color: white;
                height: 2px;
            }

            &-handle {
                width: 12px;
                height: 12px;
            }

            &-rail {
                background-color: #656568;
            }
        }
    }
}

//Player Tab
// Settings > Player
.cvat-player-settings {

    // Player speed
    &-speed-select {
        width: 100%;
    }

    // Select canvas background color
    &-canvas-background {
        .ant-btn {
            background-color: $background-color-1;
            border-color: #ffffff4d;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &-color-picker {

        .ant-popover-inner {
            background-color: $background-color-1;
            border-radius: 6px;
        }
    }
}

//Workspace Tab
// Settings > Workspace
.cvat-workspace-settings {

    .ant-input-number {
        margin: 0 10px;
    }

    &-auto-save-interval {
        display: inline-block;
    }

    &-text-position {
        width: 100px;
        margin-left: 10px;
    }

    .ant-slider {
        // less, more 문구
        &-mark {
            width: 85%;
        }

        // less, more 부분의 dot 제거
        &-dot {
            display: none;
        }

        &-rail {
            background-color: #acacb5;
        }

        > .ant-slider-track {
            background: linear-gradient(90deg, #d0d0d8 0%, #d0d0d8 100%);
            height: 2px;
        }

    }

    // Setting > Workspace > 텍스트 내용
    &-text-content {
        width: 100%;
        margin-top: -4px;
    }
}

// Design - 디자인 속성
.cvat-objects-appearance {
    padding: 20px;

    &-content {
        .ant-row {
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0;
            }
        }

        .ant-col {
            position: unset;
        }
    }

    &-radio-group {
        > label {
            color: $text-color;
        }
    }

    .cvat-appearance-outlined-borders-button {
        vertical-align: middle;

        &:hover {
            opacity: 0.8;
        }
    }
}

// Design - 이미지 설정
.cvat-image-setups {
    padding: 20px;

    .ant-row {
        padding-bottom: 10px;

        &:last-child {
            padding-bottom: 0;
        }

        &.disabled {
            opacity: 0.3;
        }
    }

    .ant-col {
        position: unset;
    }

    // Grid
    &-grid-size-input, &-grid-color-input {
        width: 100%;
    }

    &-grid-opacity-input {
        top: 6px;
    }

    // Color
    &-color-settings {
        // color setting title
        > div:first-child {
            margin: 10px 0;
        }
    }

    &-reset-color-settings {

        .ant-btn {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            > span[role='img'] {
                margin-left: 8px;
            }

            > span:not([role='img']) {
                margin: 0;
            }
        }
    }
}
