@import 'base.scss';

.cvat-task-move-modal > .ant-modal-content {
    > .ant-modal-body {

        .cvat-project-search-field {
            width: 100%;
        }

        .ant-divider {
            border-color: $border-color-2;
        }
    }

    > .ant-modal-header .anticon {
        margin-left: $grid-unit-size;

        > svg {
            color: $text-color;
        }
    }
}

.cvat-move-task-label-mapper-item {
    margin: $grid-unit-size * 2 0;

    // change icon
    > div:nth-child(2) {
        vertical-align: middle;
    }

    &-tag {
        padding: 5px 10px;
        background-color: $select-color;
        border-radius: 6px;
        display: block;

        > span.ant-typography {
            margin-left: 8px;
            color: $text-color;
        }
    }

    &-select {
        width: 100%;
    }

    &-checkbox {
        > span {
            color: $text-color;
        }

        &.ant-checkbox-wrapper-disabled {
            opacity: 0.5;
        }
    }
}
