@import 'base.scss';

.cvat-create-issue-dialog {
    position: absolute;
    pointer-events: auto;
    padding: $grid-unit-size;
    background: $background-color-1;
    z-index: 100;
    transform-origin: top left;
    border-radius: 6px;

    .ant-form-item {
        margin-bottom: 10px;
    }

    .ant-form-item-control-input {
        width: 250px;
    }

    button {
        width: 100%;
    }
}

.cvat-hidden-issue-label {
    position: absolute;
    min-width: 8 * $grid-unit-size;
    z-index: 100;
    transition: none;
    pointer-events: auto;
    max-width: 16 * $grid-unit-size;
    border-radius: 6px;
    transform-origin: top left;
    background-color: $background-color-1;
    color: $text-color;
    border: none;
    padding: 3px 10px;
    display: flex;
    align-items: center;

    &:hover {
        opacity: 1;
        scale: 120%;
        z-index: 999;
    }

    &::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }

    // issue icon style
    span[role='img'] {
        scale: 0.8;
    }

    span:not([role='img']) {
        margin-right: 8px;
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.cvat-issue-dialog {
    width: $grid-unit-size * 35;
    position: absolute;
    z-index: 100;
    transition: none;
    pointer-events: auto;
    background: $background-color-1;
    transform-origin: top left;
    box-shadow: $box-shadow-base;
    border-radius: 6px;

    &-header {
        border-bottom: 1px solid $border-color-2;
        padding: 8px 15px;
        span {
            color: #ACACB5;
        }
    }

    .cvat-issue-dialog-chat {
        > div {
            width: 100%;
        }

        .ant-comment {
            user-select: auto;
            padding: 10px 15px;
            border-bottom: 1px solid $border-color-2;

            &-content-author-name > span {
                color: #9AB0FF;
            }

            &-content-detail {
                color: $text-color;
            }

            .ant-comment-avatar {
                margin: 0;
            }
        }
    }

    .cvat-issue-dialog-input {
        padding: 15px;
    }

    .cvat-issue-dialog-footer {
        padding: 15px;
        padding-top: 0;
    }

    .ant-comment > .ant-comment-inner {
        padding: 0;
    }

    .ant-btn.ant-btn-primary {
        width: 100%;
    }

    .ant-btn.ant-btn-default {
        width: 100%;
        border: none;
        border-radius: 6px;
        background-color: #D0D0D8;
        color: #1F1F20;
    }
}

.cvat-hidden-issue-indicator {
    margin-right: 0;
}

.cvat-hidden-issue-resolved-indicator {
    @extend .cvat-hidden-issue-indicator;

    color: $ok-icon-color;
}

.cvat-hidden-issue-unsolved-indicator {
    @extend .cvat-hidden-issue-indicator;

    color: $danger-icon-color;
}

.cvat-modal-confirm-remove-issue {

    .ant-modal-content {
        .ant-modal-body {
            padding: 8px 0;
        }
    }

    .ant-modal-confirm-btns {
        float: none;
        width: 100%;
        display: flex;

        button {
            &:first-child {
                flex: 1;
            }
            &:last-child {
                flex: 3;
            }
        }
    }
}