@import 'base.scss';
@import '../../../header/styles.scss';

.ant-layout-sider-zero-width-trigger::after {
    top: 10px;
    right: none;
    border-left: 1px solid #fafafa;
    height: 50%;
}

.cvat-object-sidebar-icon {
    fill: $objects-bar-icons-color;
    color: $objects-bar-icons-color;
    font-size: 15px;

    &:hover {
        transform: scale(1.1);
    }
}

.cvat-objects-sidebar-tabs.ant-tabs.ant-tabs-card {
    background: $header-color;
    box-sizing: border-box;
    border: none;

    .ant-tabs-nav {
        &::before {
            content: none;
        }

        border: none;
        margin-bottom: 0;
        padding-top: 25px;

        .ant-tabs-tab {
            background: $transparent-color;
            border: none;

            &:nth-child(1) {
                margin-left: 5px;
            }
        }

        .ant-tabs-tab.ant-tabs-tab-active {
            background: $objects-bar-tabs-color;
        }
    }
}

.cvat-objects-sidebar-objects-list-header {
    @extend .cvat-objects-sidebar-issues-list-header;

    > span.header-title {
        color: $text-color;
    }
}


// objects-side-bar.tsx
// Sidebar Header
.cvat-objects-sidebar-issues-list-header {
    background: $objects-bar-tabs-color;
    padding: $grid-unit-size;
    height: 40px;
    box-sizing: border-box;

    > div > div {
        > span[role='img'] {
            font-size: 16px;
            color: $objects-bar-icons-color;

            &:hover {
                transform: scale(1.1);
                opacity: 0.8;
            }

            &:active {
                transform: scale(1);
                opacity: 0.7;
            }
        }
    }
    // Sidebar > Issues > header text
    .cvat-objects-sidebar-issues-list-header-text {
        color: white;
        font-weight: 500;
        margin-left: 5px;
        position: relative;
        bottom: 3px;
    }
}

.cvat-objects-sidebar-issues-list {
    background-color: $background-color-2;
    height: calc(100% - 32px);
    overflow-y: auto;
    overflow-x: hidden;
}

//Sidebar Issues
.cvat-objects-sidebar-issue-item {
    @extend .cvat-objects-sidebar-label-item;
    background-color: #414142 !important;
    display: flex;

    &:hover {
        padding: 0;

        > .ant-alert {
            border-width: 3px;
        }
    }

    > .ant-alert.ant-alert-with-description {
        padding: $grid-unit-size $grid-unit-size $grid-unit-size $grid-unit-size * 8;
    }
    // Issues Text
    .ant-typography {
        margin-left: 10px;
    }

    svg {
        margin-left: 10px;
    }
}

.cvat-objects-sidebar-states-header {
    background: $objects-bar-tabs-color;
    padding: 5px;

    > div:nth-child(1) {
        margin-top: $grid-unit-size;

        > div {
            text-align: center;
            margin: 0 2px;

            > span[role='img'] {
                @extend .cvat-object-sidebar-icon;
            }

            &:last-child {
                text-align: right;

                > .cvat-objects-sidebar-ordering-selector {
                    margin-left: $grid-unit-size;
                    width: 60%;
                }
            }
        }
    }
}

.cvat-objects-sidebar-states-list {
    background-color: $background-color-2;
    // height: calc(100% - 50px);
    height: 100%;
    overflow-y: auto;

    > div {
        align-items: center;
    }

    .cvat-objects-sidebar-state-active-item {
        background-color: gray;

        .cvat-objects-sidebar-state-item-color {
            > div > div {
                display: block;
            }
        }
    }
}

.cvat-objects-sidebar-state-item-color {
    width: 30px;
    margin-left: 5px;

    // dot
    > div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;

        // inner dot
        > div {
            width: 20px;
            height: 20px;
            background-color: transparent;
            border-radius: 50%;
            border: 2px solid $text-color;
            position: absolute;
            top: -50%;
            left: -50%;
            display: none;
        }
    }
}

.cvat-objects-sidebar-label-item-color {
    border: 1px solid $object-item-border-color;
    width: 7px;
    opacity: 1;

    &:hover {
        opacity: 0.7;
    }
}

.cvat-objects-sidebar-state-item {
    width: 100%;
    padding: 12px 6px;
    opacity: 1;

    > div:nth-child(1) {
        > div:nth-child(1) {
            line-height: 12px;
        }

        > div:nth-child(3) > span {
            @extend .cvat-object-sidebar-icon;

            font-size: 25px;
        }

        > div:nth-child(2) > .ant-select {
            width: 100%;
        }
    }

    > div:nth-child(2) {
        > div > div {
            margin-top: 5px;
        }

        span[role='img'] {
            @extend .cvat-object-sidebar-icon;
        }
    }

    & &-object-type-text {
        font-size: 10px;
        line-height: 2;
        color: #ACACB5 !important;
    }

    // object item 하단 style
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid #2c2d2e;
        width: 90%;
        margin: 0 auto;
    }

    &-details {
        border-bottom: 2px solid $object-item-border-color;
        box-shadow: 0px 1px 0 0 #656568;
        padding: 0 16px;
    }
}

.cvat-object-item-attribute-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #2C2D2E;

    &:last-child {
        border: none;
    }
}

.cvat-item-attributes-button {
    color: $text-color;
    font-size: 12px;
    height: 45px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    span[role='img'] {
        margin-left: 8px;
    }

    span:not([role='img']) {
        color: $text-color;
    }
}

.cvat-object-item-select-attribute {
    width: 100%;
}

.cvat-object-item-number-attribute {
    width: 100%;
}

.cvat-object-item-text-attribute {
    width: 100%;
}

.cvat-object-item-radio-attribute {

    &.ant-radio-group {
        // display: grid;
        padding: 1px 5px 1px 5px;

        span {
            color: $text-color;
        }
    }
}

.cvat-objects-sidebar-labels-list {
    background-color: $background-color-2;
    height: 100%;
    overflow-y: auto;
}

.cvat-objects-sidebar-label-active-item {
    background: $active-label-background-color;
    border-top: 2px solid $object-item-border-color;
    border-right: 2px solid $object-item-border-color;
    border-bottom: 2px solid $object-item-border-color;
    padding: 3px 1px 1px 3px;
}


// labels-list.tsx
// Sidebar Header for 'Labels'
.cvat-objects-sidebar-labels-header {
    background-color: $objects-bar-tabs-color;
    color: $text-color !important;
    padding: 8px 10px;
}

.cvat-objects-sidebar-label-item {
    height: 50px;
    align-items: center;
    border-bottom: 2px solid $object-item-border-color;
    box-shadow: 0 0 1px 1px $border-color-3;
    background-color: #4E4F51;

    .ant-typography.cvat-text {
        color: $text-color;
    }

    > div:nth-child(2) {
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 1.5em;
        font-size: 1em;
    }

    &:last-child {
        border-bottom: 1px solid $object-item-border-color;
    }

    .cvat-label-item-button-lock {
        margin-left: 8px;
    }
}

.cvat-label-item-color {
    background: rgb(25, 184, 14);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    > div {
        background-color: transparent;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -50%;
        top: -50%;
        border: 2px solid $text-color;
        border-radius: 50%;

        &.cvat-label-item-color-disabled {
            display: none;
        }
    }
}

.cvat-label-item-setup-shortcut-button.ant-btn-default {
    background-color: #1F1F20;
    border-radius: 6px;
    width: 40px;
    color: $text-color;
    border: none;

    > span {
        font-weight: 100;
    }

    &:hover, &:focus, &:active {
        background-color: #1F1F20;
        color: $text-color;
        border: none;
    }

    &::after {
        box-shadow: none;
    }
}

.cvat-label-item-setup-shortcut-popover {
    margin-top: -$grid-unit-size;
    margin-bottom: -$grid-unit-size;

    > div {
        padding-top: $grid-unit-size;
        padding-bottom: $grid-unit-size;

        > div {
            display: flex;
            justify-content: center;

            > button.ant-btn-default {
                @extend .cvat-label-item-setup-shortcut-button;
                background-color: #2C2D2E;
                width: 175px;
                height: 36px;
                overflow-x: hidden;
                display: flex;
                align-items: center;
                transition: none;

                span {
                    color: $text-color !important;

                    &:first-child {
                        width: 20px;

                        > span {
                            width: 10px;
                            height: 10px;
                        }

                    }

                    &:nth-child(2) {
                        margin-right: $grid-unit-size;
                    }
                }
            }
        }
    }
}

.cvat-objects-appearance-content {
    > div {
        width: 100%;

        > label {
            text-align: center;
            width: 33%;
        }
    }

    .ant-checkbox-wrapper {
        margin-left: 0;
    }

    .ant-radio-button-wrapper-checked {
        background: $background-color-2;
        border: 0;
        color: $popover-text-color;
    }
}

.cvat-context-menu-item.ant-menu-item {
    &:hover {
        background: $hover-menu-color;
    }
}

.cvat-object-item-menu {
    @extend .cvat-header-menu;
    min-width: 200px;

    > li.ant-dropdown-menu-item {
        padding: 5px 10px;

        button {
            width: 100%;
            min-width: 165px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 5px;

            > span:not([role='img']) {
                color: $text-color;
                margin-left: 0;
            }

            > span[role='img'] {
                margin-left: auto;
            }
        }
    }
}

.cvat-item-buttons-track {
    width: 85%;
    margin: 0 auto;
    padding: 8px;
}

.cvat-label-color-picker {
    background-color: black;
    border-radius: 6px;
    padding-bottom: 0;

    .ant-typography {
        padding: 5px;
    }
    .circle-picker {
        div > div {
            margin: 5px !important;
        }
    }
}

.cvat-states-ordering-selector {
    :first-child {
        margin-right: $grid-unit-size;
    }
}

.cvat-objects-sidebar-label-item-disabled {
    background-color: $background-color-2;

    .cvat-label-item-button-lock,
    .cvat-label-item-button-hidden {
        > svg > path {
            stroke: $border-color-3;
        }
    }
}

.cvat-workspace-settings-approx-poly-threshold {
    .ant-slider-track {
        background: linear-gradient(90deg, #1890ff 0%, #61c200 100%);
    }
}

.cvat-objects-sidebar-state-item-elements {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color-3;
    border-bottom: 0;

    .cvat-objects-button {
        width: 45%;
    }

    &.cvat-objects-sidebar-state-active-element {
        background-color: #1F1F20;
    }

    .cvat-objects-sidebar-state-item-color {
        width: auto;
    }
}

.flexbox-fix {
    width: 360px;
    >div{
        width: 25px !important;
        height: 25px !important;
        >span>div {
            border-radius: 13px !important;
        }
    }
}

.sketch-picker {
    background-color: black;
}