@import '../../base.scss';

textarea.ant-input.cvat-raw-labels-viewer {
    border-color: $border-color-2;
    box-shadow: none;
    border-top: none;
    border-radius: 0 0 5px 5px;
    min-height: 9em;
    font-family: $monospaced-fonts-stack;

    &:focus {
        border-color: $border-color-2;
        box-shadow: none;
    }

    &:hover {
        border-color: $border-color-2;
        box-shadow: none;
    }
}

.cvat-raw-viewer {
    // width
    ::-webkit-scrollbar {
        width: 10px;
    }

    // Track
    ::-webkit-scrollbar-track {
        background: #1F1F20;
    }

    // Handle
    ::-webkit-scrollbar-thumb {
        background: #656568;
    }

   // Handle on hover
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}

.cvat-label-form-constructor {
    // 추가된 라벨 항목
    &-added {
        margin-bottom: 15px;
        min-height: 35px;

        // 추가된 라벨 목록 gap
        > div:nth-child(2) > div {
            gap: 10px;
        }
    }
}

.cvat-constructor-viewer {
    border: 2px solid $border-color-3;
    box-shadow: none;
    border-top: none;
    border-radius: 0 0 $grid-unit-size $grid-unit-size;
    padding: 10px;
    display: flex;
    overflow-y: auto;
    min-height: 14em;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.cvat-constructor-viewer-item {
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 6px $grid-unit-size;
    user-select: none;
    border-radius: 5px;

    .ant-typography {
        color: white;
    }

    > span {
        margin-left: 5px;
        color: white;

        &[role='button'] {
            &:hover {
                cursor: pointer;
                filter: opacity(0.7);
            }

            &:nth-child(3) {
                margin-left: 10px;
            }
        }
    }

    svg {
        color: white;
        vertical-align: text-bottom;
    }
}

.cvat-constructor-viewer-new-item,
.cvat-constructor-viewer-new-skeleton-item {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px 10px;
    user-select: none;
    opacity: 1;

    > svg {
        margin-left: 3px;
    }
}

.cvat-label-constructor-creator,
.cvat-label-constructor-updater {
    border: 2px solid $border-color-3;
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 15px;
}

.cvat-attribute-constructor-form > div:first-child > div:nth-child(4) {
    display: contents;
}

.cvat-attribute-inputs-wrapper {
    margin-bottom: 10px;

    .cvat-attribute-mutable-checkbox {
        > span {
            color: $text-color;
        }

        // checkbox disabled 상태일 때
        > .ant-checkbox-disabled .ant-checkbox-inner {
            background-color: transparent;
        }
    }

    // 속성 추가
    .cvat-attribute-values-input {
        color: $text-color;

        // Radio 일 경우 필드 (다중 선택)
        &.ant-select-multiple .ant-select-selection-item {
            border: none;
            background-color: $background-color-4;

            span[role='img'] {
                vertical-align: text-top;
            }
        }
    }

    .ant-input-affix-wrapper-disabled:hover {
        border-color: $select-color;
    }
}

.cvat-delete-attribute-button:hover > span[role='img'] {
    color: $danger-icon-color;
}

.cvat-new-attribute-button {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    > span {
        font-size: 13px;
        margin-left: 3px;
    }
}

.cvat-change-task-label-color-button {
    width: 100%;
    background-color: #2C2D2E;
    border-color: #656568;
    border-radius: 5px;

    &:hover, &:active, &:focus {
        border-color: $text-color;
        background-color: transparent;
    }

    .ant-badge-status-text {
        margin-left: $grid-unit-size * 2;
        vertical-align: middle;

        > span {
            scale: 1.2;
        }
    }
}

.cvat-change-task-label-color-badge {
    .ant-badge-status-dot {
        width: $grid-unit-size * 2;
        height: $grid-unit-size * 2;
        border-radius: 8px;
    }
}

.cvat-skeleton-configurator {
    position: relative;
    width: 100%;
    margin-top: $grid-unit-size;
    margin-bottom: $grid-unit-size;
    padding-top: $grid-unit-size;
    padding-bottom: $grid-unit-size;
    justify-content: center;

    > div:first-child {
        width: $grid-unit-size * 6;
        position: absolute;
        left: 1px;
    }

    > .ant-alert {
        width: 100%;
    }

    button {
        width: 40px;
        height: 40px;
    }
}

.cvat-skeleton-configurator-canvas {
    width: 100%;
    border: 1px solid $border-color-2;
    border-radius: $grid-unit-size;
    height: auto;
}

.cvat-skeleton-configurator-svg {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.cvat-skeleton-configurator-shape-buttons,
.cvat-skeleton-configurator-action-buttons {
    margin-top: $grid-unit-size;
}

.cvat-skeleton-configurator-svg-buttons {
    > button {
        margin-bottom: $grid-unit-size;
    }
}

.cvat-skeleton-configurator-shape-buttons {
    .ant-radio-group {
        text-align: center;
        width: $grid-unit-size * 5;
        margin-top: $grid-unit-size * 3;
        margin-bottom: $grid-unit-size * 3;

        label {
            padding: 0;
            width: $grid-unit-size * 5;
            height: $grid-unit-size * 5;
            line-height: $grid-unit-size * 5;
            margin-bottom: $grid-unit-size;
            background-color: transparent;
            border-radius: 6px;
            border: 1px solid #ACACB5;

            &::before {
                content: none;
            }

            .anticon-line {
                transform: rotate(45deg);
            }

            svg {
                width: $grid-unit-size * 2;
                height: $grid-unit-size * 2;
            }

            &.ant-radio-button-wrapper-checked {
                border-color: $text-color;

                &:focus-within {
                    box-shadow: 0 0 0 3px rgba(216, 236, 255, 0.12);
                }
                &:first-child {
                    border-color: $text-color;
                }
            }
        }
    }
}

.cvat-skeleton-canvas-wrapper {
    max-width: $grid-unit-size * 75;
    max-height: $grid-unit-size * 75;
    width: 100%;
    margin-left: $grid-unit-size * 6;
    position: relative;
}

.cvat-skeleton-configurator-text-label {
    font-size: 4px;
    font-weight: bold;
    pointer-events: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}

.ant-menu.cvat-skeleton-configurator-context-menu {
    position: absolute;
    box-shadow: $box-shadow-base;
    z-index: 2;

    > li {
        margin: 0;
        padding: $grid-unit-size $grid-unit-size * 2;
        line-height: $grid-unit-size * 3;
        margin-bottom: 0 !important;
    }
}

// Projects > Detail > Labels editor (Raw, Constructor)
.cvat-labels-editor {
    // Texts
    .ant-typography {
        color: $text-color;
    }

    .ant-tabs-card {

        // The border line between tabs and viewer
        &.ant-tabs-top > .ant-tabs-nav::before {
            border-color: #656568;
            border-width: 2px;
        }

        >.ant-tabs-nav {

            // When the tab button is inactive
            .ant-tabs-tab {
                background-color: #1F1F20;
                border: none;
                border-bottom: 2px solid #656568;
                border-radius: 5px 5px 0 0;

                &:hover {
                    color: $text-color;
                }

                // When the tab button is active
                &-active {
                    background-color: #2C2D2E;
                    border: 2px solid #656568;
                    border-bottom: none;
                    border-radius: 5px 5px 0 0;
                    color: $text-color;
                }
            }
        }
    }
}
