@import '../../base.scss';
@import '../task-page/styles.scss';

.cvat-jobs-page {
    padding-top: $grid-unit-size * 2;
    padding-bottom: $grid-unit-size;
    height: 100%;
    width: 100%;
    .black {
        color: black !important;
        font-weight: bold;
    }
    .job-id {
        color: #d0d0d8;
        border: 1px solid #d0d0d8;
        border-radius: 13px;
        padding: 1px 10px;
        margin: 0 6px;
        font-size: 12px;
        text-align: center;
        display: inline;
    }
    .ant-carousel {
        .anticon {
            font-size: 20px;
        }
    }
    .slick-dots-bottom {
        display: none !important;
    }
    .ant-card {
        &-head {
            padding: 0 !important;
        }
        .ant-carousel {
            background: #2c2d2e;
        }
        .ant-card {
            &:hover {
                transform: scale(1.05);
            }
            &-body {
                background: white;
            }
            border: 1px solid #2c2d2e;
            padding-right: 10px;
            background: #2c2d2e;
            &-actions {
                background: #d0d0d8;
                span:hover {
                    color: black;
                }
            }
        }
        &-body {
            padding: 0;
        }
        padding-bottom: 10px;
        border: none;
        background: #2c2d2e;
        width: 1280px;
    }

    .cvat-jobs-page-list {
        @extend .cvat-task-jobs-table;

        .cvat-jobs-table-row {
            @extend .cvat-task-jobs-table-row;

            .cvat-job-item-stage {
                color: #d0d0d8;
                border: 1px solid #d0d0d8;
                border-radius: 13px;
                padding: 1px 10px;
                text-align: center;
            }

            .cvat-job-item-assignee {
                > span {
                    font-weight: 300;
                }
            }
        }
    }

    .ant-empty {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.cvat-jobs-page-top-bar {
    margin-bottom: 20px;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 1075px;

        > span.cvat-jobs-header {
            margin-bottom: 0;
        }
    }

    .filter-btn {
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;

        &.filtered {
            border: 1px solid #9ab0ff;
            color: #9ab0ff;

            &:hover,
            &:focus {
                border: 1px solid #9ab0ff;
                color: #9ab0ff;
                background-color: #414142;
            }
        }

        &:hover,
        &:focus {
            border: 1px solid $text-color;
            color: $text-color;
            background-color: transparent;
        }
    }
}

.cvat-job-etc-dropdown-item {
    min-width: 150px;

    .ant-btn-link {
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        > span[role='img'] {
            margin-left: 8px;
            height: 20px;
        }

        > span:not([role='img']) {
            margin-left: 0;
            color: $text-color;
        }
    }
}
