@import '../../base.scss';

.cvat-create-organization-page {
    text-align: center;
    padding-top: $grid-unit-size * 5;
    overflow-y: auto;
    height: 90%;
    width: 100%;

    > div:first-child {
        > span {
            font-size: 28px;
            color: white;
        }
    }
}

.cvat-create-organization-form {
    text-align: initial;
    width: 100%;
    height: auto;
    padding: $grid-unit-size * 2;

    > div:last-child {
        margin-top: 50px;
    }

    .cvat-create-organization-form-buttons-block {
        display: flex;
        justify-content: center;

        .ant-btn-primary {
            width: 200px;
            height: 46px;

            &:hover,
            &:focus {
                background-color: $button-color;
            }
        }
    }

    .ant-input-affix-wrapper {
        height: 46px;
    }

    .ant-divider {
        border-top: 1px solid black;
        box-shadow: 0 1px 0 0 #414142;
    }

    .ant-divider-horizontal {
        margin: 16px 0;
    }

    .ant-form-item {
        margin-bottom: unset;
    }

    .ant-form-item-row {
        align-items: center;
    }

    .ant-form-item-label {
        text-align: left;

        label {
            color: #acacb5;

            &::after { content: unset; }

            &.ant-form-item-required {
                &::before { content: unset; }

                &::after {
                    content: '*';
                    color: #ff4d4f;
                }
            }
        }
    }
}
