@import '../../base.scss';

.cvat-tasks-page-control-buttons-wrapper {
    display: flex;
    flex-direction: column;
    background: $background-color-1;
    padding: $grid-unit-size;
    border-radius: 4px;
    box-shadow: $box-shadow-base;

    > * {
        &:not(:first-child) {
            margin-top: $grid-unit-size;
        }

        width: 100%;

        .ant-upload {
            width: 100%;

            button {
                width: 100%;
            }
        }
    }
}

.cvat-tasks-page {
    padding-top: $grid-unit-size * 2;
    padding-bottom: $grid-unit-size;
    height: 100%;
    width: 100%;

    .cvat-tasks-page-top-bar {
        > div {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            border-bottom: 1px solid $background-color-1;
            box-shadow: 0 1px 0 0 $border-color-2;
        }

        .cvat-tasks-page-header {

            .ant-typography {
                font-size: 22px;
                color: $text-color;
            }
        }

        // search field
        .ant-input-search {
            .ant-input-affix-wrapper {
                border-radius: 6px;
            }

            // search field 버튼 강제 제거 (검색 아이콘 suffix로 처리)
            .ant-input-group-addon {
                display: none;
            }
        }
    }

    > div:nth-child(2) {
        height: 83%;
        padding-top: 10px;
    }

    @media screen and (min-height: 900px) {
        > div:nth-child(2) {
            height: 88%;
        }
    }

    @media screen and (min-height: 1200px) {
        > div:nth-child(2) {
            height: 93%;
        }
    }

    > div:nth-child(3) {
        padding-top: 10px;
    }
}

.cvat-empty-tasks-list {
    .ant-empty {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.cvat-tasks-pagination {
    display: flex;
    justify-content: center;
}

.cvat-tasks-list {
    height: 100%;
    margin-top: 25px;

    .ant-card {
        position: relative;
        border-radius: 12px;

        &-cover {
            width: 100%;
            height: 190px;
            background-color: $background-color-1;
            position: absolute;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #ffffff40;
        }

        &-body {
            height: 190px;
            padding: 20px;
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: column;

            .ant-typography-secondary {
                font-size: 12px;
                font-weight: 300;
            }

            &:hover {
                box-shadow: 10px 10px 20px 0 #00000099;
                border: 1px solid #ffffff33;
                cursor: pointer;

            }
        }

    }
}

.cvat-tasks-list-item {
    width: 100%;
    height: 120px;
    border: 1px solid $border-color-1;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-top: 20px;
    background: $background-color-1;

    &:hover {
        border: 1px solid $border-color-hover;
    }
}

.cvat-task-item-preview-wrapper {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.1;
    filter: blur(3px);
    opacity: 0.3;

    .ant-empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.cvat-task-item-description {
    word-break: break-all;
    max-height: 100%;
    overflow: hidden;
}

.cvat-task-progress {
    width: 100%;
}

// completed bar background
.cvat-task-completed-progress {
    border: 1px solid $completed-progress-color;
    border-radius: 20px;
    display: flex;
    padding: 0 10px;

    &.ant-typography {
        color: $completed-progress-color;
        font-size: 12px;
        font-weight: 300;
    }
}

// in progress
.cvat-task-progress-progress {
    border: 1px solid $inprogress-progress-color;
    border-radius: 20px;
    display: flex;
    padding: 0 10px;

    &.ant-typography {
        color: $inprogress-progress-color;
        font-size: 12px;
        font-weight: 300;
    }
}

// completed bar
.cvat-projects-project-item-description {
    .ant-progress-status-success .ant-progress-bg {
        background-color: $completed-progress-color !important;
    }
}


// new
.cvat-task-pending-progress {
    border: 1px solid $pending-progress-color;
    border-radius: 20px;
    display: flex;
    padding: 0 10px;

    &.ant-typography {
        color: $pending-progress-color;
        font-size: 12px;
        font-weight: 300;
    }
}

.close-auto-annotation-icon {
    color: $danger-icon-color;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.cvat-item-task-name {
    color: $text-color;

}

.cvat-project-list-content {
    width: 100%;
}