@import '../../base.scss';

// projects-page.tsx
.cvat-projects-page {
    padding-top: $grid-unit-size * 2;
    padding-bottom: $grid-unit-size;
    height: 100%;
    width: 100%;

    // empty-list.tsx
    // Projects > When there is no project
    .cvat-empty-projects-list {
        .ant-empty {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    // top-bar.tsx
    .cvat-projects-page-top-bar {
        margin-bottom: 15px;

        // Projects > Title
        .cvat-projects-page-title {
            color: $text-color;
            font-size: 22px;
        }

        > div {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: 1px solid $background-color-1;
            box-shadow: 0 1px 0 0 $border-color-2;
            padding-bottom: 15px;

            .cvat-projects-page-filters-wrapper {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                // Projects > Upload, Dropdown Buttons
                button,
                html [type=button] {
                    border-radius: 5px;
                }

                .ant-input-group-addon {
                    display: none;
                }

                .cvat-projects-page-search-bar {
                    .ant-input-affix-wrapper {
                        border-radius: 6px;
                    }
                }
            }
        }

        > div:nth-child(1) {
            > div:nth-child(1) {
                width: 100%;

                > div:nth-child(1) {
                    display: flex;

                    span {
                        margin-right: $grid-unit-size;
                    }
                }
            }
        }
    }
}

.cvat-project-list-content {
    padding-bottom: $grid-unit-size;
}

.cvat-projects-list {

    .ant-card {
        position: relative;
        border-radius: 12px;

        &-cover {
            width: 100%;
            height: 190px;
            background-color: $background-color-1;
            position: absolute;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #ffffff40;

            .ant-empty-image {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                filter: blur(3px);
            }
        }

        &-body {
            height: 190px;
            padding: 20px;
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: column;

            .ant-typography-secondary {
                font-size: 12px;
                font-weight: 300;
            }

            &:hover {
                box-shadow: 10px 10px 20px 0 #00000099;
                border: 1px solid #ffffff33;
                cursor: pointer;

            }
        }
    }
}

.cvat-projects {
    &-preview-wrapper {
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        scale: 1.1;
        filter: blur(3px);
        opacity: 0.3;
    }

    &-item {
        &-name {
            color: $text-color;
        }

        &-footer {
            margin-top: auto;
        }
    }

    &-loading-preview,
    &-empty-preview {
        .ant-spin {
            position: inherit;
        }

        height: $grid-unit-size * 18;
        font-size: $grid-unit-size * 10;
        text-align: center;
        margin-bottom: $grid-unit-size * 3;
    }
}

.cvat-export-project-loading {
    margin-left: 10;
}

.cvat-import-project-button-loading {
    margin-left: 10;
}

.cvat-project-actions-menu {
    min-width: 160px;
}

// Pagination
.cvat-projects-pagination {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 8px;
}
